input,textarea{
	font-size: .8em;
	padding: 5px 10px;
}
textarea {
	height: 70px;
	width: 148px;
}
article{
	display: block;
	margin: 10px 0;
}
article>p span{
	position: relative;
	padding-right:3px;
}
article>p span:first-child::before{
	content: "";
}
article>p span::before{
	content: ",";
	position: absolute;
	left:-8px;
}