/* basic style */
*,html{
	margin: 0;
	padding: 0;
}
body,input{
	font-family: Helvetica,Arial,sans-serif;
}
h1,h2,h3{
	padding: 10px 20px;
}
h1{
	border-bottom: 1px solid gray;
	background: #1E1E1E;
	color: whitesmoke;
	box-shadow: 0 0 3px gray;
	position: -webkit-sticky;
	top:0;
}
h1 a{
	color: white;
	text-decoration: none;
}
h1 a img{
	transform: rotateY(180deg);
	padding-left: 10px;
}


/* basic content style */
main{
	display: block;
	width: 80%;
	margin: 0 auto 20px;
}
h3{
	width: 80%;
	margin: 0 auto 20px;
	border-bottom: 1px solid gray;
	padding: 10px 0 3px;
	font-weight: normal;
	font-size: 1.5em;
}
article{
	max-width:500px;
	width: 25%;
	padding: 10px;
	background: whitesmoke;
	border: 1px solid gray;
	border-radius: 3px;
}
article h4{
	border-bottom: 1px solid gray;
	margin-bottom: 5px;
	padding-bottom: 2px;
}
article a{
	text-decoration: none;
	color: orange;
}
article a:hover{
	color: gray;
}

/* tables */
table{
	border-spacing: 0;
	margin: 10px 0;
	text-align: center;
}
table thead{
	background: silver;
}
table td{
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	padding: 5px 10px;
}
table tbody tr:last-child td{
	border-bottom:none;
}
table td:last-child{
	border-right:none;
}
footer{
	width: 100%;
	display: block;
	background: orange;
	padding: 10px;
	color:white;
	text-align:center;
	margin-top: 20px;
}
ul{
	list-style: none;
}
li a{
	display: block;
	text-decoration: none;
	color: gray;
	padding: 5px;
}
li a:hover{
	color: black;
	background: whitesmoke;
	padding:4px 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

/* forms */
label,input{
	display: block;
}
label{
	margin-top: 10px;
}
input{
	margin-bottom: 10px;
	font-size: 0.8em;
	padding: 5px 7px;
}