/* basic style */
*,html{
	margin: 0;
	padding: 0;
}
body{
	font-family: Helvetica,Arial,sans-serif;
}
h1,h2,h3{
	padding: 10px 20px;
}
h1{
	border-bottom: 1px solid gray;
	background: whitesmoke;
	box-shadow: 0 0 3px gray;
}


/* basic content style */
h3{
	width: 80%;
	margin: 0 auto 20px;
	border-bottom: 1px solid gray;
	padding: 10px 0 3px;
	font-weight: normal;
	font-size: 1.5em;
}
article{
	max-width:500px;
	width: 25%;
	padding: 10px;
	background: whitesmoke;
	border: 1px solid gray;
	border-radius: 3px;
}
article h4{
	border-bottom: 1px solid gray;
	margin-bottom: 5px;
	padding-bottom: 2px;
}
article a{
	text-decoration: none;
	color: orange;
}
article a:hover{
	color: gray;
}
footer{
	width: 100%;
	display: block;
	background: orange;
	padding: 10px;
	color:white;
	text-align:center;
	margin-top: 20px;
}