input[type=image]{
	padding: 0;
	margin: 0;
	width: 20px;
	background: white;
	border-radius: 50%;
}
form,table{
	width: 100%;
}
span{
	display: block;
	background: #FFD1D3;
	border: 1px solid red;
	border-radius: 3px;
	padding: 10px 15px;
}
input[type=submit]{
	float: left;
	margin: 0;
}
form span::after{
	content: "";
	clear: both;
	display: block;
}
.selected{
	background: rgb(255, 209, 211);
}
